.status {
font-size: medium;
font-family: 'Courier New', Courier, monospace;

}

.gender{
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.species{
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.blockInfo{
  margin: 0%;
  background-color: rgb(247, 247, 247);
  padding: 2%;
  border-radius: 5px;
}
